.gap-3 {
    gap: 5rem; /* Adjust the value as needed */
}
.button-link {
    display: inline-block; /* or use display: flex; */
    margin-right: 1rem; /* Adjust the value as needed */
  }
  
  .button-link:last-child {
    margin-right: 0; /* Remove margin from the last button */
  }
