.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-button {
  background-color: #0056b3;
  border: #f1f2f4;
  color: white;
  width: 30px; /* Set width */
  height: 30px; /* Set height */
  border-radius: 10%; /* Adjust border-radius for square shape */
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(165, 127, 245, 0.2);
}

.scroll-button:hover {
  background-color: #0056b3;
}