.navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.sticky-top {
  background-color: rgba(52, 58, 64, 0.9); /* Slightly transparent background */
  box-shadow: 0 4px 6px rgba(11, 1, 45, 0.1); /* Add shadow for highlight */
}